#backDrop {
    background: url('Images/auditorium-benches-chairs-class-207691.jpg') no-repeat center center fixed;
    height: 80%;
    background-position:inherit;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#form {
    position: absolute;
    right: 0;
    margin-right: 400px;
    max-width: 800px;
    padding: 30px;
    padding-bottom: 70px;
    background-color: floralwhite;
    /*margin-left: 350px;
        padding: 111px 0px 0px;
        border-style: solid;*/
}